div{
    font-size: 16px;
    padding: 20px 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--dark-blue-faded);
    transition: background-color 0.2s, border-color 0.2s;
}

:not(.correct, .incorrect):hover{
    background-color: var(--light-blue);
    border-color: var(--dark-blue);
}

div.selected{
    background-color: var(--mid-grey);
}

.correct{
    border-color: var(--green);
    background-color: var(--light-green);
}

.incorrect{
    border-color: var(--red);
    background-color: var(--light-red);
}