<div class="question-card">
    <div class="progress-banner">
        <div>Question {{ this.questionNumber }} of {{ this.questionCount }}</div>
        <div>Score: {{ this.score }}</div>
    </div>

    <div class="question">{{ this.questionValue ? this.questionValue : "Loading..." }}</div>

    <div class="answers">
        @for (item of ["A", "B", "C", "D"]; track $index){
            <app-answer-option [optionNumber]="item" [answer]="answerValues[$index]" [state]="answerStates[$index]" (click)="selectAnswer($index)"></app-answer-option>
        }
    </div>

    @if (state === 'answered') {
        @if (questionCount !== questionNumber){
            <input type="button" value="Next" (click)="changeQuestion()" />
        } @else {
            <input type="button" value="Finish" (click)="triggerSummary.emit({ score: this.score })" />
        }
    }

</div>