.question-card {
  border-radius: 5px;
  padding: 30px;

  .progress-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
    padding: 5px 10px 15px;
    font-size: 18px;
  }

  .question {
    margin: 40px auto 30px;
    text-align: center;
  }

  .answers {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  input {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    transition:
      background-color 0.2s,
      transform 0.2s;
  }

  input:hover {
    background-color: var(--dark-blue-hover);
    transform: scale(1.03);
  }

  input.hidden {
    display: none;
  }
}

@media (min-width: 600px) {
  .question-card {
    width: max(60vw, 500px);
    border: 1px solid var(--dark-grey);

    .answers {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
