.question-card{
    margin: 20px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    width: 500px;
    padding: 30px;

    .progress-banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--dark-grey);
        padding: 5px 10px 15px;
        font-size: 18px;
    }

    .question{
        margin: 40px auto 30px;
        text-align: center;
    }
    
    .answers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 20px;
    }

    input{
        background-color: var(--dark-blue);
        border: none;
        color: white;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 20px;
        width: calc(100% - 40px);
        box-sizing: border-box;
        font-family: inherit;
        font-size: 16px;
    }

    input:hover{
        background-color: var(--dark-blue-hover);
    }

    input.hidden{
        display: none;
    }
}