<div class="question-card">
    <div class="progress-banner">
        <div>Question {{ this.questionNumber }} of {{ this.questionCount }}</div>
        <div>Score: {{ this.score }}</div>
    </div>

    <div class="question">{{ this.questionValue }}</div>

    <div class="answers">
        <app-answer-option [optionNumber]="optionNumberValues[0]" [answer]="answerValues[0]" (click)="selectAnswer(0)"></app-answer-option>
        <app-answer-option [optionNumber]="optionNumberValues[1]" [answer]="answerValues[1]" (click)="selectAnswer(1)"></app-answer-option>
        <app-answer-option [optionNumber]="optionNumberValues[2]" [answer]="answerValues[2]" (click)="selectAnswer(2)"></app-answer-option>
        <app-answer-option [optionNumber]="optionNumberValues[3]" [answer]="answerValues[3]" (click)="selectAnswer(3)"></app-answer-option>
    </div>

    @if (state === 'answered') {
        @if (questionCount !== questionNumber){
            <input type="button" value="Next" (click)="changeQuestion()" />
        } @else {
            <input type="button" value="Finish" (click)="triggerSummary.emit({ score: this.score})" />
        }
    }

    <div>Category: {{ this.category }}</div>
    <div>Difficulty: {{ this.difficulty.charAt(0).toUpperCase() + this.difficulty.slice(1) }}</div>

</div>