.summary-card{
    border-radius: 5px;
    padding: 10px;

    .context{
        font-size: 18px;
        margin: 10px 20px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        span{
            font-variant: small-caps;
        }
    }

    .progress{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        margin: 40px auto;
        background: 
            radial-gradient(white 0% 60%, transparent 60.3% 100%),
            conic-gradient(var(--dark-blue) 0% var(--quiz-percentage), var(--light-blue) var(--quiz-percentage-point) 100%);

        .percentage{
            font-size: 60px;
        }

        .score{
            font-size: 20px;
        }
    }

    .subtext{
        color: var(--dark-grey);
        margin: 15px auto;
        width: max-content;
        font-size: 18px;
    }

    input{
        font-size: 20px;
        font-family: inherit;
        background-color: var(--dark-blue);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 15px;
        margin: 0 20px 10px;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }

    input:hover{
        background-color: var(--dark-blue-hover);
    }
}

@media (min-width: 600px) {
    .summary-card{
        width: max(50vw, 400px);
        border: 1px solid var(--dark-grey);
        padding: 30px;
    }
}