.summary-card{
    margin: 20px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    width: 500px;
    padding: 30px;

    .progress{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin: 40px auto;
        background: 
            radial-gradient(white 0% 60%, transparent 61% 100%),
            conic-gradient(var(--dark-blue) 0% 30%, var(--light-blue) 30% 100%);

        .percentage{
            font-size: 70px;
        }

        .score{
            font-size: 20px;
        }
    }

    .subtext{
        color: var(--dark-grey);
        margin: 15px auto;
        width: max-content;
        font-size: 18px;
    }

    input{
        font-size: 20px;
        font-family: inherit;
        background-color: var(--dark-blue);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 15px;
        margin: 0 20px;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }

    input:hover{
        background-color: var(--dark-blue-hover);
    }
}