<div class="summary-card">
  <div class="context">
    <div>
      Category: <span>{{ this.category().toLowerCase() }}</span>
    </div>
    <div>
      Difficulty: <span>{{ this.difficulty().toLowerCase() }}</span>
    </div>
  </div>

  <div class="navigation" [class.forwards]="!this.showQuestions" (click)="this.showQuestions = !this.showQuestions">{{this.showQuestions ? '&larr; Back to score' : 'View answer summary &rarr;'}}</div>

  @if (!this.showQuestions){
    
    <div
      class="progress"
      attr.aria-valuenow="{{ this.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100">
      <div class="percentage"></div>
      <div class="score"></div>
    </div>

    <div class="subtext">Not happy with your score?</div>
    <input type="button" value="Play Again" (click)="this.playAgain.emit()" />

  } @else if (this.showQuestions) {

    @for (question of this.questionSummaries(); track $index){
      <div class="question-details">
        <div class="question-number">{{$index + 1}}</div>
        <div>
          <div class="question">{{question.questionValue}}</div>

          @if (question.selectedAnswer === question.correctAnswer){
            <div class="correct">Your answer: {{question.selectedAnswer}}</div>
          } @else {
              <div class="incorrect">Your answer: {{question.selectedAnswer}}</div>
              <div>Correct answer: {{question.correctAnswer}}</div>
          }
        </div>
      </div>
    }
  }
</div>
