<div class="summary-card">
  <div class="context">
    <div>
      Category:
      <span>{{ this.category().toLowerCase() }}</span>
    </div>
    <div>
      Difficulty:
      <span>{{ this.difficulty().toLowerCase() }}</span>
    </div>
  </div>

  @if (!this.showQuestions) {
    <div class="progress" attr.aria-valuenow="{{ this.percentage }}" aria-valuemin="0" aria-valuemax="100">
      <div class="percentage">
        {{ this.animationComplete ? this.percentageDisplay : '0%' }}
      </div>
      <div class="score">
        {{ this.animationComplete ? this.scoreDisplay : '' }}
      </div>
    </div>

    <button class="navigation forwards" (click)="switchView()">View answer summary&nbsp;&rarr;</button>

    @if (this.percentage !== 100) {
      <div class="subtext">Not happy with your score?</div>
    }

    <input type="button" value="Play again" (click)="this.playAgain.emit()" />
  } @else if (this.showQuestions) {
    <button class="navigation" (click)="switchView()">
      <span>&larr;</span>
      Back to score
    </button>

    @for (question of this.questionSummaries(); track $index) {
      <div class="question-details">
        <div class="question-number">{{ $index + 1 }}</div>
        <div>
          <div class="question">{{ question.questionValue }}</div>

          @if (question.selectedAnswer === question.correctAnswer) {
            <div class="correct">Your answer: {{ question.selectedAnswer }}</div>
          } @else {
            <div class="incorrect">Your answer: {{ question.selectedAnswer }}</div>
            <div>Correct answer: {{ question.correctAnswer }}</div>
          }
        </div>
      </div>
    }
  }
</div>
