/* You can add global styles to this file, and also import other style files */

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    --blue: #23319a;
    --dark-grey: #808080;
    --light-grey: #e7e7e7;
}