:root {
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-size: 20px;

  --dark-blue: #23319a;
  --dark-blue-hover: #1e2a86;
  --dark-blue-faded: #23319a94;
  --light-blue: #eff2fb;

  --green: #4fa04f;
  --light-green: #ddffdd;

  --red: #ad3232;
  --light-red: #ffe9e9;

  --dark-grey: #808080;
  --mid-grey: #cdcdcd;
  --light-grey: #e7e7e7;
}

body {
  margin: 0;
}
